@page
@model IDKyet.Pages.RoleModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Roles[0].RoleID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Roles[0].RoleName)
            </th>

            <th>
                Role
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Roles)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.RoleID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.RoleName)
                </td>

                <td>
                    <a asp-page=""></a>
                </td>

            </tr>
        }
    </tbody>
</table>
